#wpadminbar{display: none !important;}

/*Fonts*/
@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura-Medium.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('/wp-content/themes/emagid/assets/fonts/futura/Futura-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('/wp-content/themes/emagid/assets/fonts/futura/Futura-Bold.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'proxima_novabold';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanova-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanova-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanova-thin-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_abold';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovaa-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_aregular';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovaa-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sbold';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovas-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sregular';
    src: url('/wp-content/themes/emagid/assets/fonts/proximaNova/proximanovas-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




html{max-width: 2500px; margin: 0 auto;}

body {
  background-color: white;
  padding-top: 0 auto;
  color: #2b2b2b;
  margin: 0;
  font-family: 'proxima_novaregular', sans-serif;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Langdon';
  font-weight: bold;
  text-transform: uppercase;
    margin: 0;
    line-height: 2em;
}

h2 {
  margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;
}

p {
  line-height: 1.5;
    font-size: 18px;
    font-family: 'Colaborate';
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
    color:#757575;
}
a, button {
    font-family: 'Colaborate';
    font-weight: 100;
}

.button.inverse {
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  font-size: 10px;
  /*width: 175px;*/
}

.button.inverse:hover {
  background-color: transparent;
}
#hidden {
    display: none;
}


/*  ==========   HEADER  =============*/
header {
	text-transform: uppercase;
	font-family: 'Futura', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 30px;
    height: 20px;
    border-top: 1px solid #e0e0e0;
}

header .logo {
  color: #1e182b;
  font-weight: bold;
  font-size: 16px;
}

header nav {
  position: absolute;
  right: 135px;
  margin-top: -20px;
}

header nav a {
  font-weight: normal;
  margin-right: 30px;
  color: #1e182b;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 28px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
}

header nav a:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #684d94;
}

header nav a:last-child {
  margin-right: 0;
}

#hamburger {
    position: absolute;
    right: 50px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 70px;
}

.hamburger_line {
    width: 31px;
    background-color: #1e182b;
    margin: 7px 0;
    height: 3px;
    border-radius: 5px;
    transition: 0.4s;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.dropdown {
  position: fixed;
  top: 105px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  display: none;
}

.flex {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.dropdown a {
  color: white;
  margin-bottom: 20px;
    
}
.dropdown ul li {
    margin-bottom: 20px;
    text-align: center;
}


nav .menu li {
    display: inline-block;
    margin-right: 30px;
}
ul#menu-primary-menu-2 {
  text-align: center;
}
footer ul.menu li {
    text-transform: uppercase;
    font-family: 'proxima_novabold', sans-serif;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 0.5px;
}

header .logo img {
  width: 200px;
}

.above_header{
  position: absolute;
  right: 135px;
  top: 0px;
}

.above_header a{
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  color: black;
  font-size: 12px;
}

.above_header img{
  background: #00CAA8;
  margin-left: 15px;
  width: 20px;
  padding: 5px;
  margin-bottom: -9px;
}

@media(max-width: 800px){
  header .logo img{
    width: 170px;
    margin-top: -10px;
    margin-left: -35px;
  }
  .above_header a{
    font-size: 8px;
  }
  .above_header{
    right: 30px;
    top: 10px;
  }
}
/*  ==========  HEADER END  =============*/

/*  ==========  HOME HERO SECTION  =============*/
.hero {
  height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
    text-align: center;
}


.support .overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .overlay{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.hero h1, .support h1 {
  font-size: 48px;
    color:#fff;
    letter-spacing: 2px;
}

.hero p {
  font-size: 20px;
    color:#fff;
    width: 95%;
    margin: 0 auto;
    max-width: 650px;
}
.home_hero .text_box {
    margin-bottom: 60px;
    margin-left: 150px;
}

.home_hero .text_box p {
  margin: 0;
}
.home_hero a.button {
  width: 335px;
}
.hero input {
  width: 399px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 45px;
}

@media(max-width: 500px){
  .hero a.button {
    width: initial;
  }

  .hero input {
    width: initial;
  }
}

.hero {
  border-bottom: 1px solid #eaeaea;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .button {
  margin-top: 10px;
}


.moveUp {
  margin-top: 130px;
}

.button {
	background-color: transparent;
    border:1px solid #fff;
	color: white !important;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
}

.button:hover {
  background-color: #2b2b2b;
    border-color: #2b2b2b;
  cursor: pointer;
}

/*  ==========  HOME HERO SECTION END =============*/
/*  ==========  MORE DOMAINS =============*/
section.moreDomains{
  background: #F7F7F7;
  height: 375px;
  text-align: center;
}
section.moreDomains div.wrapper  {
  margin: auto;
  height: 100%;
  display: inline-block;
}

section.moreDomains .inner {
  background: #fff;
  display: inline-flex;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: 30px;
}

section.moreDomains .inner-first {

}
section.moreDomains .inner p {
  padding-top: 75px;
  padding-left: 75px;
  font-weight: bold;
  text-align: center;
}

section.moreDomains .inner span {
  color: #79DCD6;
}

.domainsBtn{
  margin-top: 20px;
  margin-left: 80%;
}

.domainsBtn a{ 
  color: black;
  font-weight: bold;
}

section.multiple-items section {
  width: 33%;
  background: brown;
}

@media(max-width: 1070px){
  section.moreDomains .inner {
    margin-left: 0px;
  }
}

@media(max-width: 905px){
  .domainsBtn{
    margin-top: initial;
    margin-left: initial;
  }
  
  section.moreDomains{
    height: 715px;
  }
  section.moreDomains .inner {
    margin-top: 10px;
    display: block;
    width: 150px;
    height: 150px;
  }
  section.moreDomains .inner p{
    padding-left: 0px;
    padding-top: 45px;
  }

  section.moreDomains div.wrapper{
    padding-top:15px;
  }
}

/*  ==========  MORE DOMAINS END=============*/

/*  ==========  SLIDER SECTION =============*/
section.sliderSection {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

section.sliderSection #slide-h1 {
  padding-bottom: 50px;
}

section.sliderSection .inner-slide{
  text-align: center;
}


/*  ==========  SLIDER SECTION END =============*/

/*  ==========  SUPPORT SECTION HOME PAGE =============*/

section.support {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*  ==========  SUPPORT SECTION END HOME PAGE =============*/
/*  ==========  BROWSE DOMAINS SECTION HOME PAGE  =============*/



.browseDomains .button {
	background-color: #00CAA8;
}

.browseDomains .button:hover {
  background-color: #2b2b2b;
    border-color: #2b2b2b;
  cursor: pointer;
}


.browseDomains {text-align: center;}

.browseDomains .text_box{
  margin-top: 150px;
}
  
.browseDomains .row img{
  width: 80%;
}
.browseDomains .row div.para  {
/* 
  padding: 10%; */
}

.browseDomains .row div.para  p{

}

@media(max-width: 1399px){
  .browseDomains .row div.para  {
      padding: 10%;
    }
    
  .browseDomains .text_box{
    margin-top: 0px;
  }
      
}


@media(min-width: 1400px){
  .browseDomains {
    width: 1214px;
    margin: 0 auto; 
    margin-bottom: 29px;
  }
  .browseDomains .row {
  
  }
  
  .browseDomains .row img{
    width: 607px;
    height: 460px;
  }
  
  .browseDomains .row div.para  {
    width: 607px;
    height: 460px;
  }
  
  .browseDomains .row div.para  p{
    padding: 100px;
  }
  
  .browseDomains .float_me{
    float: right;
  }
}

/*  ==========  BROWSE DOMAINS END SECTION HOME PAGE  =============*/
/*  ==========   REGISTRATION PAGE HERO =============*/
.registration_hero .overlay{
  justify-content: center;
  text-align: center;
}
.registration_hero a {
  width: initial;
}
.registration_hero input {
  
}
.registration_hero h1 {
  margin-bottom: 131px;
  margin-top: 200px;
}

/*  ==========   REGISTRATION PAGE HERO END   =============*/

/*  ==========   REGISTRATION PAGE DOMAINS SECTION =============*/
section.registration_domains .inner{
  width: 75px;
  height: 50px;
}

section.registration_domains .inner:hover{
  border-bottom: 2px solid limegreen;
}

section.registration_domains .inner p{
  padding-top: 10px;
  padding-left: 15px;
}
section.registration_domains > p{
  padding-top: 60px;
  margin-bottom: -45px;
  font-weight: bold;
}
section.registration_domains div.wrapper{
  height: initial;
}

section.registration_domains div.wrapper:nth-of-type(2n){
  margin-top: -80px;
}

@media(max-width: 905px){
  section.registration_domains .inner{
    display: inline-flex;
    margin-top: 100px;
  }

  section.registration_domains{
    height: 375px;
  }
}

@media(max-width: 522px){
  section.registration_domains{
    height: 580px;
  }
  section.registration_domains .inner{
    display: inline-flex;
    margin-top: initial;
    padding: 10px;
    margin: 10px;
  }
  section.registration_domains div.wrapper:nth-of-type(1){
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media(max-width: 392px){
  section.registration_domains{
    height: 715px;
  }
}

/*  ==========   REGISTRATION PAGE DOMAINS SECTION END   =============*/
/*  ==========  TLDS PAGE =============*/
.tlds_hero .overlay{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tlds_hero .text_box{
  margin-left: 0px;
}
.tlds_content{
  background: #F7F7F7;
  height: auto;
  padding-top: 70px;
  padding-bottom: 40px;
}
.tlds_content .wrapper{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.tlds_content h1{
}
.tlds_content p{
  border-left: 2px solid #79DCD6;
  padding-left: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media(max-width: 850px){
  .tlds_content .wrapper{
    width: 100%;
  }
}

/*  ==========  TLDS PAGE END =============*/
/*  ==========  FOOTER =============*/
footer {
  background-color: #1D3338;
  padding: 75px 0;
  padding-top: 0;
  overflow: hidden;
  position: relative;
  margin-top: -30px;
  color: white;
}

.footer_holder {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 32px;
  position: relative;
  width: 80%;
  border-bottom: 1px solid #ffffff4d;
  padding-bottom: 25px;
}

.footer_holder > div {
  margin-right: 50px;
  padding-right: 50px;
}

.footer_holder > div:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer_holder li{
  margin-bottom: 15px;
}

.footer_below a, .footer_below p{
  color: white !important;
}
.footer_below{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 32px;
  position: relative;
  width: 80%;
  padding-bottom: 25px;
  white-space: nowrap;
}

.footer_below .fb_first{
  margin-right: 275px;
}

.footer_below .fb_second{}

@media(max-width: 875px){
  .footer_below .fb_first{
    margin-right: initial;
  }
  .footer_below, .footer_holder{
    display: block;
    white-space: normal;
  }
  .footer_below a, .footer_below p{
    font-size: 13px;
  }
}

.join_footer {text-align: center;margin-top: 40px;}

.join_footer p {font-size: 2.5em;}

.links a {
  display: block;
  color: white;
  margin-bottom: 13px;
  font-size: 15px;
  transition: color .3s;
}

.left_center {
  width: inherit;
  text-align: left;
  margin: auto;
}

.links a:hover {
  color: #ffffffbf;
}

.top_footer_li{
  font-weight: bold;
}

/*  ==========  FOOTER END =============*/

@media ( max-width: 800px ) {
  header nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .text_box {
    padding: 0 30px;
    text-align: center;
    width: 100%;
    margin-left: 0 !important;
  }

    .hero {
        height:350px;
    }
    .hero {
        height:550px;
    }


  .footer_holder > div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff4d;
  }

  .footer_holder > div:last-child {
    border-bottom: none;
  }

    footer {
      padding-bottom: 20px;
    }
  
}



@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header {
      height: 8px;
    }

    header .logo {
      left: 20px;
      top: 26px;
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }

    .hero h1 {
      font-size: 33px;
    }

    .hero p {
      font-size: 20px;
    }

    #hamburger {
      right: 23px;
      transform: scale(.7);
    }

    .dropdown {
      top: 105px;
    }

}





